<div class="container">
  <div class="row justify-content-center my-5">
      <div class="col-md-8">
          <div class="card">
              <div class="card-header">Inscrption</div>
              <div class="card-body">

                  <form class="form-horizontal" method="post" action="#">

                      <div class="form-group">
                          <label for="nom" class="cols-sm-2 control-label">Nom</label>
                          <div class="cols-sm-10">
                              <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                  <input type="text" class="form-control" name="nom" id="nom" placeholder="Votre nom" />
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="prenom" class="cols-sm-2 control-label">Prénom</label>
                          <div class="cols-sm-10">
                              <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                  <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Votre prénom" />
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="email" class="cols-sm-2 control-label">Email</label>
                          <div class="cols-sm-10">
                              <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                  <input type="text" class="form-control" name="email" id="email" placeholder="Votre Email" />
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="dateNaissance" class="cols-sm-2 control-label">Date de naissance</label>
                          <div class="cols-sm-10">
                              <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                  <input type="date" class="form-control" name="dateNaissance" id="dateNaissance" placeholder="jj/mm/aaaa" />
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="password" class="cols-sm-2 control-label">Mot de passe</label>
                          <div class="cols-sm-10">
                              <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                  <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe" />
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="confirm" class="cols-sm-2 control-label">Valider mot de passe</label>
                          <div class="cols-sm-10">
                              <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                  <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Valider mot de passe" />
                              </div>
                          </div>
                      </div>
                      <div class="form-group ">
                          <button type="button" class="btn btn-primary btn-lg btn-block login-button">S'inscrire</button>
                      </div>
                      <div class="login-register">
                          <a href="/auth">J'ai déjà un compte</a>
                      </div>
                  </form>
              </div>

          </div>
      </div>
  </div>
</div>
